@import '~antd/dist/antd.css';
*{
    text-align: start;
}
.main{
    text-align: center;
}
.icon{
height: 80px;
width: 80px;
}
.head_text{
   word-wrap: break-word;

}
.custom-image img {
    display: block;
}
.custom-card {
    padding: 10px 16px;
}
.custom-card p {
    color: #999;
}